.app-container {
    &__main {
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
    }

    &__dashboard {
        height: 100%;
        width: 100%;
        display: flex;
    }
}

/////////
//ITEMS-LIST
.items-list {
    margin-top: 4rem;
    padding: 1.8rem 3.5rem;
    display: flex;
    flex-wrap: wrap;
    height: 85%;

    &__currency {
        text-transform: uppercase;
        font-weight: 600;
    }

    &__figures {
        font-size: 1.9rem;
    }
    
    &__days {
        font-size:1.5rem;
    }

    &__list {
        margin-left: 4rem;
        list-style: none;
        font-size: 1.2rem;
        padding: 2.5rem;
        cursor: pointer;
    }

    &__img {
        width: 5.5rem;
        height: 5.5rem;
        position: absolute;
        left: 0;
        top: 20%;
    }

    &__img-selected {
        position: absolute;
        left: 81%;
        top: 7%;
        width: 2.8rem;
        height: 2.8rem;
    }

    &__container {
        position: relative;
        margin-right: 2.8rem;
        border-bottom: solid 1.5px var(--color-grey-light-4);
    }

    &__box {
        position: relative;
        display: flex;
    }

    &__icon {
        width: 3rem;
        height: 3rem;
        cursor: pointer;
    }
}
//////
//NAVBAR

.navbar {
    &__container {
        display: flex;
        flex-direction: column;
        background-color: var(--color-grey-dark-1);
        height: 100%;
        flex-wrap: wrap;
        width: 15%;
        position: relative;
    }

    &__logo {
        position: absolute;
        top: -2%;
        left: 12%;
        width: 100%;

        &__icon {
            width: 10rem;
            height: 10rem;
        }
    }

    &__box {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
    }

    &__link {
        color: #fff;
        font-size: 1.1rem;
        text-decoration: none;
        font-weight: 600;
        margin-top: 2rem;
        display: flex;
        align-items: center;
    }

    &__sections {
        display: flex;
        flex-direction: column;
        border-bottom: 0.7px solid var(--color-grey-light-4);
        padding: 0 2rem 1rem;
    }

    &__section:last-child {
        border: none;
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        margin-right: 0.8rem;

        & > span {
            align-self: stretch;
        }
    }
}

///////
//BUTTONS
.btn {
    &__container {
        display: flex;
        align-items: center;
        position: absolute;
        top: 2.5%;
        left: 3%;

        & > span {
            font-size: 1.8rem;
            font-weight: 600;
            color: var(--color-grey-dark-2);
            margin-right: 2rem;
        }
    }

    &__button {
        height: 4rem;
        border: none;
        width: 14rem;
        background-color: #29ADF3;
        border-radius: 20px;
        cursor: pointer;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-family: inherit;
        font-size: 2.1rem;
        outline: none;
    }
}
